/* AQUI A O STYLES DA TELA RPINCIPAL, HEADER E FOOTER */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: 700;
}

@font-face {
    font-family: vietnam;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}

/* Variáveis de cores */
:root {
    --azul-escuro: #00145A;
    --azul-normal: #2573D9;
    --branco: #F0F9FF;
    --cinza: #686461;
    --branco-bege: #F2E7DC;
}

h1, h2, h3, h4{
    font-family: bebas;
}

a, p, input{
    font-family: vietnam;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    background-color: var(--azul-escuro);


}

.div_container{
    width: 100%;
    background-color: var(--azul-escuro);
    height: 100%;

}

/* HEADER */
 
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}

.div-logo{
    display: flex;

}

.div-logo img{
    width: 80%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

/* NAVE */
nav{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 30px;
}
nav a{
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 800;
}
nav a:hover{
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}


/* botao login */

.div-login {
    width: 10%;
    margin-left: auto; /* Empurra o botão para o canto direito */
    display: flex;
}

.div-login a {
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 900;
}
.div-login a:hover {
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}
main{
    background-color: var(--azul-escuro);
    height:70%;
}

/* Titulo */
.div-titulo{
    display: flex;
    height: 30%;
    width: 100%;
    bottom: 0;
    background-color: transparent;

}
.div-titulo h1{
    color: var(--branco-bege);
    font-size: 4.0rem;
    padding-left: 11%;
}
/* .div-titulo img{
   width: 4%;
   height: 4%;
   position: relative;
   margin-top: 30px;
   margin-left: -1.5%;
} */

/* TEXTO */

.div-texto{
    width: 80%;
    height: 50%;
    display: flex;  
    flex-direction: column;
    border-left: 6px solid var(--branco-bege);
    margin-left: 12%; /* Espaço entre a borda e o texto */


}
.div-texto p{
    color: var(--branco-bege);
    padding-left: 1%;
    padding-right: 20%;
    line-height: 1.5;
    
}
/* Botao */
.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 100%;
    height: 20%;
    margin-top: 2.5%;
    margin-bottom: 1.0%;
    background-color: transparent;

}
.div-button button{
   width: 25%;
    height: 30%;
    background-color: var(--azul-normal);
    color: var(--branco);
    border-width: 1px;
    border-color: var(--azul-normal);
    border-radius: 1.0rem;
    cursor: pointer;
    padding: 1%;
}
.div-button button h3{ 
    font-size: 2.0rem;
    font-weight: 900;
    color: var(--branco-bege);
    text-decoration: none;
}

.div-button button a:hover{ 
    color: var(--branco-bege);
    transition: 0.3s;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
}

/* FOOTER */
footer{
    background-color: var(--branco-bege);
    padding: 70px 70px;
}

/* FOOTER CONTATOS E REDES */
.footer-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "logo redes"
        "termos termos";
    gap: 30px;
    align-items: start;
    padding: 0 40px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-logo img{
    cursor: pointer;
    height: 66px;
    width: 300px;
    filter: brightness(0.1) invert(9%) sepia(92%) saturate(1100%) hue-rotate(203deg) contrast(100%)
}
.footer-endereco {
    font-size: 1.0em;
    color: var(--azul-escuro);
    line-height: 1.5em;
}
.footer-redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.footer-redes h2{
    font-family: vietnam;
    font-weight: bolder;
    color: #00145A;
    margin: 0 0 -5px;
}
.footer-redes img{
    height: 4.0em;
    cursor: pointer;
}
.footer-redes-icons {
  display: flex;
  gap: 5px;
}


/* LINKS FOOTER */
footer ul{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: var(--azul-escuro);
    font-size: 1.1rem;
}
footer a:hover{
    color: var(--cinza);
}